<template name="home">
    <div class="container">
        <header>
            <h1>Estate Upload Test</h1>
        </header>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><h2 class="panel-title">Bootstrap</h2></div>
            <div class="panel-body">
                <p>Plusieurs test d'upload à valider puis adapter au format demandés.</p>

            </div>

            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item">
                    <label>Simple</label>

                    {{> upload_bootstrap }}
                </li>
                <li class="list-group-item">
                    <label>Fichiers Multiple</label>

                    {{> upload_bootstrap multiple=true }}</li>
                <li class="list-group-item">
                    <label>Extension Filtrée: .jpg and .png only</label>
                    {{> upload_bootstrap fileTypes='.png,.jpg' }}
                </li>
                <li class="list-group-item">
                    <label>Affichage des images & ajout de préfix ref agence immo( ? )</label>

                    <!-- <pre class="well">//server configuration (file: /server/init.js)
Meteor.startup(function () {
  UploadServer.init({
    tmpDir: process.env.PWD + '/.uploads/tmp',
    uploadDir: process.env.PWD + '/.uploads/',
    checkCreateDirectories: true,
    getDirectory: function(fileInfo, formData) {
      if (formData && formData.directoryName != null) {
        return formData.directoryName;
      }
      return "";
    },
    getFileName: function(fileInfo, formData) {
      if (formData && formData.prefix != null) {
        return formData.prefix + '_' + fileInfo.name;
      }
      return fileInfo.name;
    },
    finished: function(fileInfo, formData) {
      if (formData && formData._id != null) {
        Items.update({_id: formData._id}, { $push: { uploads: fileInfo }});
      }
    }
  });
});</pre>

                    <pre class="well">//client configuration (file: /templates/home/home.js)
Template['home'].helpers({
  myFormData: function() {
    return { directoryName: 'images', prefix: this._id, _id: this._id }
  }
});

// file: /client/init.js
Meteor.startup(function() {
  Uploader.finished = function(index, file) {
    Uploads.insert(file);
  }
});</pre> -->

                    <div class="well">
                        {{#with item}}
                            <label>Affichage du nom du fichier: </label>{{ name }}
                            {{> upload_bootstrap fileTypes='image/*' formData=myFormData }}
                            <p style="margin-top: 10px">
                                {{> uploadedInfo uploads }}
                            </p>
                        {{/with}}
                    </div>


                </li>
            </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Tets de zone de dépose (  css a debugger )</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <label>Tetes simple</label>

                        {{> dropzone }}
                    </li>

                </ul>
            </div>
        </div>

        <div class="panel">
          <h3>Liste des fichiers uploadés avec test d'effacement ( ?)</h3>
          <p>
            {{> uploadedInfo uploads }}
          </p>
        </div>

    </div>
</template>


<template name="uploadedInfo">
    <div class="documentList">
        <ul class="list-inline">
            {{#each this}}
                <li class="documentItem">
                    <a href="/upload/{{path}}"><img src="{{src}}"></a><br/>
                    <label>{{ name }}</label> <br/>
                    {{ size }} B<br>
                    {{#if _id}}
                        <a class="btn btn-danger deleteUpload">Effacer</a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
</template>
